@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	margin: 0;
	padding: 0;
    overflow-x: hidden;
    width: 100vw;
	height: 100vh;
}

.start {
    width: 100vw;
	height: 100vh;
	overflow: auto;
	-webkit-box-shadow: 10px 10px 0px 0px #151f28;
	-moz-box-shadow: 10px 10px 0px 0px #151f28;
	box-shadow: 10px 10px 0px 0px #151f28;
}

.cancel {
	text-align: right;
	margin: 20px 20px;
}

.icon {
	color: #fff;
	font-size: 2rem;
	transition: all 300ms ease-in-out;
	cursor: pointer;
}

.icon:hover {
	color: #E74C3C;
}

.start-title {
	color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 0.2;
	margin: 0 auto;
	margin-top: 300px;
	text-transform: uppercase;
	text-align: center;
}

.start-title span {
	display: inline-block;
	position: relative;
}

.start-title span:before,
.start-title span:after {
	content: "X";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid white;
	top: 0;
	width: 100%;
}

.start-title span:before {
	right: 100%;
	margin-right: 15px;
}

.start-title span:after {
	left: 100%;
	margin-left: 15px;
}

.btn {
    color: #ECF0F1;
    background: transparent;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	display: inline-block;
	width: 25%;
	margin: 100px 0;
	margin-bottom: 0px;
	border: 1px solid #fff;
	padding: 10px;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.btn:hover {
	border: 2px solid #fff;
}

.btn:focus {
    outline: none;
}

.btn.disabled:hover{
    border: 1px solid #fff;
}
.skip {
	color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
	opacity: 0.4;
	margin-top: 70px;
}

.coder {
	color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
	opacity: 0.4;
}

.question-container {
    width: 100vw;
    height: 100vh;
	overflow: auto;
	-webkit-box-shadow: 10px 10px 0px 0px #151f28;
	-moz-box-shadow: 10px 10px 0px 0px #151f28;
	box-shadow: 10px 10px 0px 0px #151f28;
}

.question {
	color: #ECF0F1;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 50px;
	text-transform: uppercase;
	text-align: center;
}

.display {
	visibility: hidden;
}

.answer {
    color: #ECF0F1;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0 auto;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 450px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.answer:hover {
	border: 2px solid #fff;
}

.questions {
	color: #ECF0F1;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
	opacity: 0.6;
    text-align: right;
    padding-right: 40px;
	margin-right: 20px;
	margin-top: 0px;
}

.disabled{
    opacity: 0.3;
}

.sub-text{
    font-size: 8px;
    padding: 0 20px;
}